h1{
	color: white;
	font-size: 50px;
	text-decoration: underline;
}

h2{
	font-size: 3vw;
}
div.container{
	height: 100%;
	width: 100%
}

header{
	padding:1em;
	color:white;
	clear:left;
	text-align: left;
}

body{
	background-image: url("./Bhangra-117-min.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 

}

#navi{
	color: white;
	font-size: 2vw;
	display: block;
	max-width: 35%;
	float:right;
	margin: 0;
	padding-top: 1.5em;
	padding-left: 1em;
	padding-right: 3em;
	background-color:black;
	opacity: 0.7; 
	height: 55%;
	width:20%;
}


nav ul{
	list-style-type: none;
	padding: 0;
}

nav ul a{
	text-decoration: none;
}

article{
	max-width: 30%;
	color: white;
	margin-right: 250px;
	padding:1em;
	padding-top: 1em;
	overflow: scroll;
	height: 60%;
}

article p,article h1{
	float: left;
}

a{
	color: white;
}

article{
	background-color:black;
	opacity: 0.7; 
}




